.env
plugins/TwitchViewerControl/config.yml
plugins/LuckPerms/config.yml
plugins/Geyser-Spigot/config.yml
plugins/DiscordSRV/
server.properties
logs
survival
survival_nether
survival_the_end
server.log
versions
cache
crash-reports
banned-players.json
banned-ips.json
ops.json
whitelist.json
paper.jar
